@page "/products"
@using BlazingShop.Data
@using System.Globalization
@inject NavigationManager NavigationManager
@inject AppDbContext _context

<h1>Products</h1>
<button class="btn btn-primary" @onclick="AddProduct">Add Product</button>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in products)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Title</td>
            <td>@product.Price.ToString("C", new CultureInfo("pt-BR"))</td>
            <td>
                <a class="btn btn-primary" href="/products/edit/@product.Id">Edit</a>
                <a class="btn btn-danger" href="/products/delete/@product.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    List<Product> products = new();


    protected override void OnInitialized()
    {
        products = _context.Products.ToList();
    }

    private void AddProduct()
    {
        NavigationManager.NavigateTo("/products/create");
    }

}